version: 2.1
executorType: machine
jobs:
  dial-build:
    docker:
      - image: cimg/openjdk:17.0.2
      - image: circleci/redis:latest
    steps:
      - checkout
      - restore_cache:
          key: dial-dependency-cache-{{ checksum "pom.xml" }}
      - run:
          name: Setup VM and Build
          command: bash vmsetup.sh

workflows:
  version: 2.1
  workflow:
    jobs:
      - dial-build
